{% extends "network/layout.html" %}
{% load static %}


{% block body %}
<div class="index">

    <div class="posts">

    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if has_previous %}
            <li class="page-item"><a class="page-link" href="{% url 'following_posts' %}?page={{prev_page}}">Previous</a></li>
        {% endif %}
        {% if has_next %}
            <li class="page-item"><a class="page-link" href="{% url 'following_posts' %}?page={{next_page}}"">Next</a></li>
        {% endif %}
    </ul>
  </nav>
{% endblock %}
{% block script %}
        <script src="{% static 'network/following.js'%}"></script>
    {% endblock %}

