{% extends "network/layout.html" %}
{% load static %}


{% block body %}
<div class="index">
    <h2>All Posts</h2>

    <div class="new-post" id="new-post">
        <h3 >New post</h3>
        <div id="newPostForm">

            <textarea name="" id="newPostTextarea" cols="70" rows="10"></textarea>
            <button id="newPostSubmit" class="btn btn-secondary"> Submit </button>
        </div>
    </div>
    <div class="posts">

    </div>
</div>
{% endblock %}
{% block script %}
        <script src="{% static 'network/indeeex.js'%}"></script>
    {% endblock %}

