{% extends "network/layout.html" %}
{% load static %}
{% block body %}
        <h1>hello</h1>    

    <!-- <h3 id="username" data-id={{ user_info.id }}>{{user_info.username}}</h3>
    <p><b>{{user_info.following.count}}</b> Following   <b>{{follower}}</b> Follower</p>

        {% if can_follow %}
           
            {% if already_following %}
                
                <button  class="btn btn-outline-primary" id="unfollow">Unfollow</button>
                
            {% else %}
                <button class="btn btn-outline-primary" id="follow">Follow</button>
            {% endif %}

        {%endif%}
    
    <div class="user-posts">
        {% for post in posts%}
            <div class="post">
                
                <a href="{% url 'user' post.user.username %}"><h4>{{post.user.username}}</h4></a>
                <p>{{post.content}}</p>
                <p class="date">{{post.created_at}} </p>
                <p>{{post.likes.all.count}} &#10084</p>
            </div>

        {%endfor%}
        </div> -->
        
{% endblock %}

<!-- {% block script %}
        <script src="{% static 'network/user-profileee.js'%}"></script>
{% endblock %} -->